<% unless session[:user_id] %>
  <header>
    <%= link_to "TOPページへ" , login_path %>
  </header>
<% end %>
<div class="pic">
  <div>
    <div>No.1</div>
    <a href="https://prog-8.com/"><%= image_tag "progate.jpg", width: "120px", height: "120px" %></a>
  </div>
  <div>
    <div>No.2</div>
    <a href="https://dotinstall.com/"><%= image_tag "dotinstall.jpg", width: "120px" %></a>
  </div>
  <div>
    <div>No.3</div>
    <a href="https://www.udemy.com/"><%= image_tag "udemy.jpg", width: "120px" %></a>
  </div>
</div>
<section class="shadow">
  <div class="top">
    <div class="body1">Rank</div>
    <div class="body2">オススメ教材</div>
    <div class="body3">いいね数</div>
  </div>
  <div class="flow">
    <% i = 0 %>
    <% @onlines.each do |online| %>
    <% i += 1 %>
      <table>
        <tbody>
          <tr>
            <td class="rank-width"><%= i %></td>
            <td class="name-width"><%= online.name %></td>
            <td class="td-width">
              <%= Like2.where(online_id: online.id).count %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% @onlines2.each do |online| %>
      <% if Like2.where(online_id: online.id).count == 0 %>
        <table class="<%= online.id %>">
          <tbody>
            <tr>
              <td class="rank-width">-</td>
              <td class="name-width"><%= online.name %></td>
              <td class="td-width">
                <%= Like2.where(online_id: online.id).count %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</section>
