
<div class="contain">
  <%= bar_chart @macbook, height: "300px", width: "67%" %>
</div>

<div class="mac-title">
  <div>MacBook Air</div>
  <div>MacBook Pro 13inch</div>
  <div>MacBook Pro 15-16inch</div>
</div>

<div class="display2">
  <div class="container">
    <%= pie_chart ({ "8GB": @air.where(memory: 1).count, "16GB": @air.where(memory: 2).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "50%" %>
    <%= pie_chart ({ "128GB": @air.where(storage: 1).count, "256GB": @air.where(storage: 2).count, "512GB": @air.where(storage: 3).count, "1TB": @air.where(storage: 4).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "50%" %>
  </div>
</div>


<div class="container">
<%= pie_chart ({ "core5": @inch13.where(cpu: 1).count, "core7": @inch13.where(cpu: 2).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "30%" %>

<%= pie_chart ({ "8GB": @inch13.where(memory: 1).count, "16GB": @inch13.where(memory: 2).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "30%" %>

<%= pie_chart ({ "128GB": @inch13.where(storage: 1).count, "256GB": @inch13.where(storage: 2).count, "512GB": @inch13.where(storage: 3).count, "1TB": @inch13.where(storage: 4).count, "2TB": @inch13.where(storage: 5).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "40%" %>
</div>

<div class="container">
<%= pie_chart ({ "core7": @inch16.where(cpu: 1).count, "core9": @inch16.where(cpu: 2).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "30%" %>

<%= pie_chart ({ "16GB": @inch16.where(memory: 1).count, "32GB": @inch16.where(memory: 2).count, "64GB": @inch16.where(memory: 3).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "30%" %>

<%= pie_chart ({ "512GB": @inch16.where(storage: 1).count, "1TB": @inch16.where(storage: 2).count, "2TB": @inch16.where(storage: 3).count, "4TB": @inch16.where(storage: 4).count, "8TB": @inch16.where(storage: 5).count }), library: { legend: { position: "bottom", labels: { fontSize: 20 } } }, width: "40%" %>
</div>