<% unless session[:user_id] %>
  <header>
    <%= link_to "TOPページへ" , login_path %>
  </header>
<% end %>

<% if session[:user_id] %>
  <header>
    <%= link_to "Mac詳細へ", mac_path(1) %>
    <%= link_to "ログアウト" ,controller: "sessions", action: "destroy" %>
  </header>
<% end %>

<section class="font-change">
<div class="choise">
<i class="far fa-hand-point-right"></i>
<div class="lank" id="sw-1">いいねする</div>
<div class="lank" id="sw-2">ランキング</div>
<%= link_to  "新規登録", new_twitter_path, class: "lank" %>
</div>

<div class="table-1">
<div class="search_form">
    <div class="scroll">検索結果を選択するとスクロールします</div>
  <%= form_with url: twitters_path, local: true, method: :get, class: "search-form" do |f| %>
    <%= f.text_field :name, class: "size", id: "user-search-field", placeholder: "search", autocomplete: 'off' %>
  <% end %>
</div>
<div id="twitter-result"></div>
  
  <section class="shadow">
  <div class="top">
    <div class="body1">Number</div>
    <div class="body2">ユーザー名</div>
    <div class="body3">いいね</div>
  </div>
  <div class="flow">
  <% int = 0 %>
  <% @twitters2.each do |twitter| %>
  <% int += 1 %>
    <table class="<%= twitter.id %>">
      <tbody>
        <tr>
          <td><%= int %></td>
          <td class="name-width"><%= twitter.name %></td>
          <td class="td-width">
            <%= render 'twitters/twitters', twitter: twitter %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>
</div>

<div class="table-2 hide">
<div class="new ">ランキングではいいねできません</div>
<section class="shadow">
  <div class="top">
    <div class="body1">Rank</div>
    <div class="body2">ユーザー名</div>
    <div class="body3">いいね</div>
  </div>
  <div class="flow2">
  <% i = 0 %>
  <% @twitters.each do |twitter| %>
  <% i += 1 %>
  <table>
    <tbody>
      <tr>
        <td><%= i %></td>
        <td class="name-width"><%= twitter.name %></td>
        <td class="td-width">
          <span class="fa fa-heart like-btn-unlike rm-cursor"></span>
          <%= Like.where(twitter_id: twitter.id).count %>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>
  </section>
  </div>
  </section>