<% unless session[:user_id] %>
  <header>
    <%= link_to "TOPページへ" , login_path %>
  </header>
<% end %>
<section class="shadow">
  <div class="top">
    <div class="body1">Rank</div>
    <div class="body2">ユーザー名</div>
    <div class="body3">いいね</div>
  </div>
  <div class="flow">
  <% i = 0 %>
  <% @twitters.each do |twitter| %>
  <% i += 1 %>
  <table>
    <tbody>
      <tr>
        <td><%= i %></td>
        <td class="name-width"><%= twitter.name %></td>
        <td class="td-width">
          <%= render 'twitters/twitters', twitter: twitter %>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>

  <% @twitters2.each do |twitter| %>
    <% if Like.where(twitter_id: twitter.id).count == 0 %>
    <table>
      <tbody>
        <tr>
          <td>-</td>
          <td class="name-width"><%= twitter.name %></td>
          <td class="td-width">
            <%= render 'twitters/twitters', twitter: twitter %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  <% end %>
</section>