<!DOCTYPE html>
<html>
  <head>
    <title>VoteApp</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <header>
        <%= link_to "ログアウト" ,controller: "sessions", action: "destroy" %>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
